@charset "UTF-8";
/* AS FONTES */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap');

/* AS CORES PARA O DESIGN */
:root{
    --cor01: #000;
    --cor02: #FCA60F;
    --cor03: #C95E20;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    font-family: 'Nunito';
    font-weight: 600;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    padding: 10px;
    list-style: none;
    gap: 30px;
    padding-right: 40px;
}
li a{
    text-decoration: none;
    color: black;
}
main{
    display: flex;
    justify-content: space-evenly;
}
.container{
    margin-top: 4%;
}
.base{
    font-size: larger;
    font-family: 'Nunito';
    font-weight: 700;
    text-align: justify;
    max-width: 300px;
}
#socials{
    display: flex;
    gap: 20px;
}
#socials > a{
    transition: transform 0.25s;
}
#socials > a:hover{
    transform: scale(1.2);
}
.base > button{
    font-family: 'Nunito';
    margin-top: 2vw;
    padding: 10px 40px 10px 40px;
    color: white;
    background-color: var(--cor02);
    border-style: none;
    margin-bottom: 30px;
    transition: background-color 0.25s;
}
.base > button:hover{
    background-color: #754e0b;
    cursor: pointer;
}
#scroll{
    text-align: center;
}

