@charset "UTF-8";
/* AS FONTES */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap');

/* AS CORES PARA O DESIGN */
:root{
    --cor01: #000;
    --cor02: #FCA60F;
    --cor03: #C95E20;
}
body{
    overflow-x: hidden;
}
hr{
   background-color: gray;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    font-family: 'Nunito';
    font-weight: 600;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    list-style: none;
    gap: 30px;
    padding-right: 40px;
    font-size: 1.25rem;
}
li a{
    text-decoration: none;
    color: black;
    transition: 0.25s color;
}
li a:hover{
    color: rgb(121, 116, 116);
}
main{
    display: flex;
    justify-content: space-around;
}
.container{
    position: relative;
    margin-top: 8%;
}
.base{
    font-size: larger;
    font-family: 'Nunito';
    font-weight: 700;
    text-align: justify;
    max-width: 300px;
}
.back1{
    position: absolute;
    z-index: -3;
    left: -398px;
    top: -51px;
}
.back2{
    z-index: -1;
    position: absolute;
    top: -117px;
    left: -4px;
    
}
#socials{
    display: flex;
    gap: 20px;
}
#socials > a{
    transition: transform 0.25s;
}
#socials > a:hover{
    transform: scale(1.2);
}
.base > button{
    font-family: 'Nunito';
    margin-top: 2vw;
    padding: 10px 40px 10px 40px;
    color: white;
    background-color: var(--cor02);
    border-style: none;
    margin-bottom: 30px;
    transition: background-color 0.25s;
}
.base > button:hover{
    background-color: #754e0b;
    cursor: pointer;
}
#scroll{
    text-align: center;
}
@media (max-width: 552px){
    header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #logo{
        padding-right: 60px;
    }
    ul{
        justify-content: center;
    }
    #copo{
        display: none;
    }
    #scroll{
        display: none;
    }
    #socials{
        margin-top: 90px;
        justify-content: center;
    }
    .base{
        text-align: center;
    }
}

